apache-jmeter-5.6.2
ddd-sample-in-cpp-master
PromotionServiceNet/.vs
PromotionServiceNet/PromotionServiceNet/bin
PromotionServiceNet/obj
PromotionServiceNet/PromotionServiceNet/obj
PromotionServiceQt/build-PromotionServiceQt-Desktop_Qt_5_12_12_MinGW_64_bit-Debug
PromotionServiceQt/PromotionServiceQt/x64/Release
PromotionServiceQt/PromotionServiceQt/x64
PromotionServiceQt/PromotionServiceQt/debug
PromotionServiceQt/.vs
PromotionServiceQt/PromotionServiceQt/.vs
PromotionServiceQt/build-PromotionServiceQt-Desktop_Qt_5_12_12_MinGW_64_bit-Release
PromotionServiceQt/PromotionServiceQt/release/moc_predefs.h.cbt
PromotionServiceQt/.vscode
